<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.RiskControlListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.RiskControlList">
        <id column="id" property="id" />
        <result column="harmful_factors" property="harmfulFactors" />
        <result column="measure" property="measure" />
        <result column="department_fk" property="departmentFk" />
        <result column="type_fk" property="typeFk" />
        <result column="level_fk" property="levelFk" />
        <result column="person_fk" property="personFk" />
        <result column="fk" property="fk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

</mapper>
