<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.RiskNoticeListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.RiskNoticeList">
        <id column="id" property="id" />
        <result column="cause" property="cause" />
        <result column="consequence" property="consequence" />
        <result column="incidence" property="incidence" />
        <result column="measure" property="measure" />
        <result column="emergency" property="emergency" />
        <result column="fk" property="fk" />
        <result column="level_fk" property="levelFk" />
        <result column="type_fk" property="typeFk" />
        <result column="person_fk" property="personFk" />
        <result column="phone" property="phone" />
        <result column="expiry" property="expiry" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

</mapper>
