<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>教师管理</title>
    <link rel="stylesheet" href="/fe/node_modules/layui-src/dist/css/layui.css">
    <link rel="stylesheet" href="/fe/Public/css/public-color.css">
    <link rel="stylesheet" href="/fe/Public/css/public-yun.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-template"></i>
                        <cite>区域管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-template"></i>
                        <cite>区域管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-template"></i>
                        <cite>区域管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-template"></i>
                        <cite>区域管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-template"></i>
                        <cite>区域管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                        <dd><a href="javascript:;">机构管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">日志管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">设备管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">平台管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div class="page-map">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
				<a href="">国际新闻</a>
				<a href="">亚太地区</a>
				<a><cite>正文</cite></a>
			</span>
        </div>

        <!-- 内容主体区域 -->
        <div class="layui-row layui-col-space15 safety-content-body">
            <div class="safety-table layui-col-md12">
                <div class="layui-card">
                    <table class="layui-hide" id="test" lay-filter="test"></table>
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <div class="table-btns-box">
                                <button class="layui-btn layui-btn-sm" lay-event="addTeacher">添加教师</button>
                                <div class="layui-btn-group">
                                    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="download">下载模板</button>
                                    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="import"><i class="layui-icon"></i>导入</button>
                                    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="export"><i class="layui-icon"></i>导出</button>
                                </div>
                            </div>
                            <div class="table-btns-num">
                                <span class="table-cho-num"></span>
                                <button class="layui-btn layui-btn-sm safety-btn-danger" lay-event="del"><i class="layui-icon"></i>删除</button>
                            </div>
                            <div class="table-btns-right2">
                                <div class="table-search-box clearfix">
                                    <input type="text" placeholder="搜索用户姓名进行查询">
                                    <i class="layui-icon layui-icon-search" lay-event="search"></i>
                                </div>
                                <div class="layui-inline" title="表格筛选" lay-event="screenON"><i class="layui-icon layui-icon-spread-left"></i></div>
                            </div>
                        </div>
                    </script>
                    <script type="text/html" id="barDemo">
                        <button class="layui-btn layui-btn-xs {{ d.id==10000 ? 'layui-btn-disabled' : ''}}" name="{{ d.id==10000 ? 'hidden' : ''}}" lay-event="edit" {{(d.id=='10000') ? 'disabled' : ''}} >编辑</button>
                        <button class="layui-btn layui-btn-xs" lay-event="password" disabled>密码重置</button>
                        <button class="layui-btn layui-btn-danger layui-btn-xs" name="hidden" lay-event="disable">禁用</button>
                        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
                    </script>
                </div>
            </div>
            <div class="safety-screen layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header safety-card-header2">
                        <span>筛查项目列表</span>
                        <a href="javascript:;" lay-submit="" lay-filter="cancel"><i class="layui-icon layui-icon-close"></i></a>
                    </div>
                    <div class="layui-card-body layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">一级机构</label>
                            <div class="layui-input-inline">
                                <select name="first-one">
                                    <option value="">请选择一级机构</option>
                                    <option value="浙江" selected="">浙江省</option>
                                    <option value="你的工号">江西省</option>
                                    <option value="你最喜欢的老师">福建省</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">二级机构</label>
                            <div class="layui-input-inline">
                                <select name="first-two">
                                    <option value="">请选择二级机构</option>
                                    <option value="浙江" selected="">浙江省</option>
                                    <option value="你的工号">江西省</option>
                                    <option value="你最喜欢的老师">福建省</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属学校</label>
                            <div class="layui-input-inline">
                                <select name="school">
                                    <option value="">请选择所属学校</option>
                                    <option value="浙江" selected="">浙江省</option>
                                    <option value="你的工号">江西省</option>
                                    <option value="你最喜欢的老师">福建省</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                <select name="sex">
                                    <option value="">请选择性别</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="screen">筛查</button>
                            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit="" lay-filter="reload">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
<script src="/fe/node_modules/jquery/jquery-3.3.1.min.js"></script>
<script src="/fe/node_modules/layui-src/dist/layui.js"></script>
<script src="/fe/View/userAdmin/js/teacher.js"></script>
</body>
</html>