<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.CalendarEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.CalendarEvent">
        <id column="id" property="id" />
        <result column="time" property="time" />
        <result column="org_id" property="orgId" />
        <result column="holiday_type" property="holidayType" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="del" property="del" />
        <result column="createdatetime" property="createdatetime" />
        <result column="modifydatetime" property="modifydatetime" />
    </resultMap>
    <select id="getCalendarEventCountByTypeAndOrgId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM calendar_event WHERE org_id = #{orgId} AND type = #{type} AND `time` = #{time}
    </select>

    <select id="selectWorkdayByOrgTime" resultMap="BaseResultMap">
        select *
        from
        (
            select  id,time,holiday_type,type
            from calendar_event
            where org_id = #{orgId} and type = 1
            union
            select l.id,l.time,l.holiday_type,l.type
            from calendar_legal l
            where YEAR(l.time) = YEAR(NOW()) and type =1
            and not EXISTS (select * from calendar_event e where e.holiday_type = l.holiday_type and e.type = l.type and e.type = 1 and year(l.time) = year(e.time))
        ) as a
        where a.time = #{time}
    </select>

    <select id="selectHolidayByOrgTime" resultMap="BaseResultMap">
        select *
        from
        (
            select  id,time,holiday_type,type
            from calendar_event
            where org_id = #{orgId} and type = 0
            union
            select l.id,l.time,l.holiday_type,l.type
            from calendar_legal l
            where YEAR(l.time) = YEAR(NOW()) and type =0
            and not EXISTS (select * from calendar_event e where e.holiday_type = l.holiday_type and e.type = l.type and e.type = 0 and year(l.time) = year(e.time))
        )as a
        where a.time = #{time}
    </select>

</mapper>
