<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckDayRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckDayRecord">
        <id column="id" property="id" />
        <result column="check_day_id" property="checkDayId" />
        <result column="check_content" property="checkContent" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="check_start_time" property="checkStartTime" />
        <result column="check_end_time" property="checkEndTime" />
        <result column="check_person_fk" property="checkPersonFk" />
        <result column="check_person_name" property="checkPersonName" />
    </resultMap>

    <resultMap id="ExtCheckDayRecordMap" type="com.safety.entity.CheckDayRecord" extends="BaseResultMap">
        <collection property="checkDayRecordList" ofType="com.safety.entity.CheckDayRecordList">
            <id column="id" property="id" />
            <result column="check_day_record_id" property="checkDayRecordId" />
            <result column="check_day_list_id" property="checkDayListId" />
            <result column="result" property="result" />
            <result column="create_person_fk" property="createPersonFk" />
            <result column="org_fk" property="orgFk" />
            <result column="create_time" property="createTime" />
            <result column="modify_time" property="modifyTime" />
        </collection>
    </resultMap>

    <select id="selectCheckDayRecord" resultMap="ExtCheckDayRecordMap">
        select c.*
        from check_day_record c
    </select>

    <select id="selectCheckDayRecordListById" resultMap="ExtCheckDayRecordMap" parameterType="string">
        select c.*,l.*
        from check_day_record c
        LEFT JOIN check_day_record_list l on c.id = l.check_day_record_id
        where c.id = #{id}
    </select>
    <select id="selectAll" resultType="com.safety.entity.CheckDayRecord">

    </select>
    <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from check_day_record
        <where>
            <if test="orgFk!=null">
                and org_fk = #{orgFk}
            </if>
            <if test="createTime!=null">
                and create_time =#{createTime}
            </if>
            <if test="id!=null">
                and id =#{id}
            </if>
        </where>
    </select>
</mapper>
