<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckDayCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckDayCategory">
        <id column="id" property="id" />
        <result column="type_name" property="typeName" />
        <result column="content" property="content" />
        <result column="person_fk" property="personFk" />
        <result column="person_name" property="personName" />
        <result column="check_time" property="checkTime" />
        <result column="check_day_fk" property="checkDayFk" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

</mapper>
