<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckMonthListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckMonthList">
        <id column="id" property="id" />
        <result column="check_type_fk" property="checkTypeFk" />
        <result column="check_type_name" property="checkTypeName" />
        <result column="check_content" property="checkContent" />
        <result column="check_method" property="checkMethod" />
        <result column="check_month_fk" property="checkMonthFk" />
        <result column="risk_identification_list_id" property="riskIdentificationListId" />
        <result column="cause" property="cause" />
        <result column="level_name" property="levelName" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
    </resultMap>

    <select id="selectByPid" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from check_month_list where check_month_fk = #{checkMonthFk} order by check_type_name;
    </select>
    <select id="selectByParam" resultType="com.safety.entity.CheckMonthList">
        select cml.*,cmrl.result from check_month_list cml
        LEFT join check_month_record_list cmrl on cml.id = cmrl.check_month_list_id and cmrl.check_month_record_id = #{checkMonthRecordId}
        where check_month_fk = #{checkMonthFk} order by check_type_name,create_time;
    </select>
</mapper>
