<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckMonthRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckMonthRecord">
        <id column="id" property="id" />
        <result column="check_month_id" property="checkMonthId" />
        <result column="check_content" property="checkContent" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="check_start_time" property="checkStartTime" />
        <result column="check_end_time" property="checkEndTime" />
        <result column="check_person_fk" property="checkPersonFk" />
        <result column="check_person_name" property="checkPersonName" />

    </resultMap>
    <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from check_month_record
        <where>
            <if test="orgFk!=null">
                and org_fk = #{orgFk}
            </if>
            <if test="createTime!=null">
                and create_time =#{createTime}
            </if>
            <if test="id!=null">
                and id =#{id}
            </if>
        </where>
    </select>

    <select id="selectAll"  resultMap="BaseResultMap">
        select *  from check_month_record
        <where>
            <if test="orgFk!=null and orgFk != ''">
                and org_fk = #{orgFk}
            </if>
        </where>
         order by create_time desc
    </select>

    <update id="updateById" parameterType="com.safety.entity.CheckMonthRecord">
        update check_month_record
        <set>
            <if test="checkMonthId!=null">
                check_month_id = #{checkMonthId},
            </if>
            <if test="checkContent!=null">
                check_content = #{checkContent},
            </if>
            <if test="checkStartTime!=null">
                check_start_time = #{checkStartTime},
            </if>
            <if test="checkEndTime!=null">
                check_end_time = #{checkEndTime},
            </if>
            <if test="checkPersonName!=null">
                check_person_name = #{checkPersonName},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>
