<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckDayRecordListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckDayRecordList">
        <id column="id" property="id" />
        <result column="check_day_record_id" property="checkDayRecordId" />
        <result column="check_day_list_id" property="checkDayListId" />
        <result column="result" property="result" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>
    <select id="selectChecklistResultCountByOrg" resultType="map" parameterType="map">
        select o.name,DAY(c.create_time),count(1) as count
        from check_danger_checklist c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_day_record_list l on l.id = c.record_list_fk
        where c.org_fk = #{orgId}
        and result = '0'
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,DAY(c.create_time)
    </select>
    <select id="selectChecklistLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,DAY(c.create_time),ll.level_name,count(1) as count
        from check_danger_checklist c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_day_record_list l on l.id = c.record_list_fk
        INNER JOIN check_day_list ll on l.check_day_list_id
        where c.org_fk = #{orgId}
        and result = '0'
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,DAY(c.create_time),ll.level_name
    </select>
    <select id="selectLedgerResultCountByOrg" resultType="map" parameterType="map">
        select o.name,DAY(c.create_time),count(1) as count
        from check_danger_ledger c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_day_record_list l on l.id = c.record_list_fk
        where c.org_fk = #{orgId}
        and result = '0'
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,DAY(c.create_time)
    </select>
    <select id="selectLedgerLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,DAY(c.create_time),ll.level_name,count(1) as count
        from check_danger_ledger c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_day_record_list l on l.id = c.record_list_fk
        INNER JOIN check_day_list ll on l.check_day_list_id
        where c.org_fk = #{orgId}
        and result = '0'
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,DAY(c.create_time),ll.level_name
    </select>
</mapper>
