<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckHolidayRecordListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckHolidayRecordList">
        <id column="id" property="id" />
        <result column="check_holiday_record_id" property="checkHolidayRecordId" />
        <result column="check_holiday_list_id" property="checkHolidayListId" />
        <result column="result" property="result" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

</mapper>
