<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckDayRecordListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckDayRecordList">
        <id column="id" property="id" />
        <result column="check_day_record_id" property="checkDayRecordId" />
        <result column="check_day_list_id" property="checkDayListId" />
        <result column="result" property="result" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>
    <select id="selectResultCountByOrg" resultType="map" parameterType="map">
        select o.name,DAY(create_time),count(1) as count
        from check_day_record_list l
        INNER JOIN org o on l.org_fk=o.id
        where org_fk = #{orgId}
        and result = '0'
        and create_time &gt;= #{startTime} and create_time &lt;= #{endTime}
        GROUP BY o.name,DAY(create_time)
    </select>
</mapper>
