<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckComprehensiveSeasonListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckComprehensiveSeasonList">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="risk_identification_list_id" property="riskIdentificationListId" />
        <result column="cause" property="cause" />
        <result column="level_name" property="levelName" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
    </resultMap>

</mapper>
