<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckOffgradeListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckOffgradeList">
        <id column="id" property="id" />
        <id column="content" property="content" />
        <id column="level_fk" property="levelFk" />
        <id column="level_name" property="levelName" />
        <id column="level_num" property="levelNum" />
        <id column="check_type" property="checkType" />
        <id column="check_fk" property="checkFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="org_fk" property="orgFk" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="check_list_fk" property="checkListFk" />
        <result column="state" property="state" />
    </resultMap>
    <select id="selectAll"  resultMap="BaseResultMap">
        select *  from check_offgrade_list order by create_time desc
    </select>
    <select id="selectDayOffgradeTroubleCountByOrg" resultType="map" parameterType="map">
        select o.name,DATE(c.create_time) as dateofyear,i.trouble_name ,count(1) as count
        from check_offgrade_list c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_day_list dl on c.check_list_fk = dl.id
        INNER JOIN risk_identification_list i on dl.risk_identification_list_id = i.id
        where c.check_type = #{checkType}
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,DATE(c.create_time),i.trouble_name
        order by DATE(c.create_time)
    </select>
    <select id="selectDayOffgradeLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,DATE(c.create_time) as dateofyear,c.level_name ,count(1) as count
        from check_offgrade_list c
        INNER JOIN org o on c.org_fk=o.id
        where c.check_type = #{checkType}
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,DATE(c.create_time),c.level_name
        order by c.level_num
    </select>
    <select id="selectWeekOffgradeTroubleCountByOrg" resultType="map" parameterType="map">
        select o.name,WEEK(c.create_time) as dateofyear,i.trouble_name ,count(1) as count
        from check_offgrade_list c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_week_list dl on c.check_list_fk = dl.id
        INNER JOIN risk_identification_list i on dl.risk_identification_list_id = i.id
        where c.check_type = #{checkType}
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time),i.trouble_name
        order by WEEK(c.create_time)
    </select>
    <select id="selectWeekOffgradeLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,WEEK(c.create_time) as dateofyear,c.level_name ,count(1) as count
        from check_offgrade_list c
        INNER JOIN org o on c.org_fk=o.id
        where c.check_type = #{checkType}
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time),c.level_name
        order by c.level_num
    </select>
    <select id="selectMonthOffgradeTroubleCountByOrg" resultType="map" parameterType="map">
        select o.name,MONTH(c.create_time) as dateofyear,i.trouble_name ,count(1) as count
        from check_offgrade_list c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_month_list dl on c.check_list_fk = dl.id
        INNER JOIN risk_identification_list i on dl.risk_identification_list_id = i.id
        where c.check_type = #{checkType}
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,MONTH(c.create_time),i.trouble_name
        order by MONTH(c.create_time)
    </select>
    <select id="selectMonthOffgradeLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,MONTH(c.create_time) as dateofyear,c.level_name ,count(1) as count
        from check_offgrade_list c
        INNER JOIN org o on c.org_fk=o.id
        where c.check_type = #{checkType}
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,MONTH(c.create_time),c.level_name
        order by c.level_num
    </select>
</mapper>
