<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckWeekRecordListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckWeekRecordList">
        <id column="id" property="id" />
        <result column="check_week_record_id" property="checkWeekRecordId" />
        <result column="check_week_list_id" property="checkWeekListId" />
        <result column="result" property="result" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <resultMap id="ReceiptResultMap" type="com.safety.entity.CheckRectificationReceipt">
        <id column="id" property="id" />
        <result column="check_org_fk" property="checkOrgFk" />
        <result column="check_org_name" property="checkOrgName" />
        <result column="fill_time" property="fillTime" />
        <result column="check_person_fk" property="checkPersonFk" />
        <result column="check_person_name" property="checkPersonName" />
        <result column="check_time" property="checkTime" />
        <result column="check_code" property="checkCode" />
        <result column="rectification_org_fk" property="rectificationOrgFk" />
        <result column="rectification_org_name" property="rectificationOrgName" />
        <result column="rectification_person_fk" property="rectificationPersonFk" />
        <result column="rectification_person_name" property="rectificationPersonName" />
        <result column="rectification_content" property="rectificationContent" />
        <result column="rectification_time" property="rectificationTime" />
        <result column="rectification_measure" property="rectificationMeasure" />
        <result column="rectification_result" property="rectificationResult" />
        <result column="org_fk" property="orgFk" />
        <result column="org_name" property="orgName" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <select id="selectChecklistResultCountByOrg" resultType="map" parameterType="map">
        select o.name,WEEK(c.create_time) as weekofyear,count(1) as count
        from check_danger_checklist c
        INNER JOIN org o on c.org_fk=o.id
        where c.check_type = '周排查记录'
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time)
    </select>
    <select id="selectChecklistLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,WEEK(c.create_time) as weekofyear,l.level_name,count(1) as count
        from check_danger_checklist c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_offgrade_list l on l.id = c.offgrade_list_fk
        where c.check_type = '周排查记录'
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time),l.level_name
        order by l.level_num
    </select>
    <select id="selectLedgerResultCountByOrg" resultType="map" parameterType="map">
        select o.name,WEEK(c.create_time) as weekofyear,count(1) as count
        from check_danger_ledger c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_week_record_list l on l.id = c.record_list_fk
        where c.check_type = '周排查记录'
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time)
    </select>
    <select id="selectLedgerLevelCountByOrg" resultType="map" parameterType="map">
        select o.name,WEEK(c.create_time) as weekofyear,ll.level_name,count(1) as count
        from check_danger_ledger c
        INNER JOIN org o on c.org_fk=o.id
        INNER JOIN check_offgrade_list l on l.id = c.offgrade_list_fk
        where c.check_type = '周排查记录'
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time),ll.level_name
        order by l.level_num
    </select>
    <select id="selectReceiptByOrg" resultMap="ReceiptResultMap" parameterType="map">
        select c.*
        from check_rectification_receipt c
        INNER JOIN org o on c.org_fk=o.id
        where c.check_type = '周排查记录'
        and c.org_fk = #{orgId}
        and c.create_time &gt;= #{startTime} and c.create_time &lt;= #{endTime}
        GROUP BY o.name,WEEK(c.create_time)
    </select>
</mapper>
