<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckDayListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckDayList">
        <id column="id" property="id" />
        <result column="check_type_fk" property="checkTypeFk" />
        <result column="check_type_name" property="checkTypeName" />
        <result column="check_content" property="checkContent" />
        <result column="check_method" property="checkMethod" />
        <result column="check_day_category_fk" property="checkDayCategoryFk" />
        <result column="risk_identification_list_id" property="riskIdentificationListId" />
        <result column="cause" property="cause" />
        <result column="level_name" property="levelName" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
        <result column="check_day_fk" property="checkDayFk" />
        <result column="check_team_fk" property="checkTeamFk" />
        <result column="check_team_name" property="checkTeamName" />
    </resultMap>
    <select id="selectByPid" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from check_day_list
        <where>
            <if test="checkDayFk!=null">
                and check_day_fk = #{checkDayFk}
            </if>
            <if test="checkTeamFk!=null and checkTeamFk!=''">
                and check_team_fk = #{checkTeamFk}
            </if>
        </where>
          order by check_team_name;
    </select>
    <select id="selectByParam" resultType="com.safety.entity.CheckDayList">
        select cml.*,cmrl.result from check_day_list cml
        LEFT join check_day_record_list cmrl on cml.id = cmrl.check_day_list_id and cmrl.check_day_record_id = #{checkDayRecordId}
        where check_day_fk = #{checkDayFk} order by check_type_name,create_time;
    </select>
</mapper>
