<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckComprehensiveSeasonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckComprehensiveSeason">
        <id column="id" property="id" />
        <result column="person_charge_fk" property="personChargeFk" />
        <result column="person_charge_name" property="personChargeName" />
        <result column="check_time" property="checkTime" />
        <result column="check_person_fk" property="checkPersonFk" />
        <result column="check_person_name" property="checkPersonName" />
        <result column="check_org_fk" property="checkOrgFk" />
        <result column="check_org_name" property="checkOrgName" />
        <result column="join_person_fk" property="joinPersonFk" />
        <result column="join_person_name" property="joinPersonName" />
        <result column="org_fk" property="orgFk" />
        <result column="org_name" property="orgName" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

</mapper>
