<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.CheckSpecialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.CheckSpecial">
        <id column="id" property="id" />
        <result column="check_time" property="checkTime" />
        <result column="check_scope" property="checkScope" />
        <result column="check_person_fk" property="checkPersonFk" />
        <result column="check_person_name" property="checkPersonName" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
    </resultMap>

    <select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from check_special
        <where>
            <if test="orgFk!=null">
                and org_fk = #{orgFk}
            </if>
            <if test="createTime!=null">
                and create_time =#{createTime}
            </if>
            <if test="id!=null">
                and id =#{id}
            </if>
        </where>
    </select>
</mapper>
