<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.ClassCircleCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.ClassCircleComment">
        <id column="id" property="id"/>
        <result column="class_circle_id" property="classCircleId"/>
        <result column="open_id" property="openId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="sort" property="sort"/>
        <result column="del" property="del"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>
    <resultMap id="extClassCircleComment" type="com.welsee.extentity.ExtClassCircleComment">
        <result column="user_name" property="userName"/>
    </resultMap>
    <delete id="delComment">
        UPDATE class_circle_comment SET del = 1,modifydatetime = #{modifydatetime} WHERE user_id = #{userId} AND id = #{id}
    </delete>
    <select id="getClassCircleCommentByIdAndUserId" resultMap="BaseResultMap">
        SELECT * FROM class_circle_comment WHERE user_id = #{userId} AND id = #{id} AND del = 0
    </select>
    <select id="getCommentList" resultMap="extClassCircleComment">
        SELECT ccc.*, p.realname user_name
        FROM class_circle_comment ccc
        LEFT JOIN person p ON p.id = ccc.user_id AND p.del = 0
        WHERE ccc.class_circle_id = #{classCircleId} AND ccc.del = 0
    </select>

</mapper>
