<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.ClassCirclePraiseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.ClassCirclePraise">
        <id column="id" property="id"/>
        <result column="class_circle_id" property="classCircleId"/>
        <result column="user_ids" property="userIds"/>
        <result column="counts" property="counts"/>
    </resultMap>
    <select id="getPraiseByClassCircleId" resultMap="BaseResultMap">
        SELECT * FROM class_circle_praise WHERE class_circle_id = #{classCircleId}
    </select>

</mapper>
