<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.ClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.Class">
        <id column="id" property="id"/>
        <result column="org_id" property="orgId"/>
        <result column="start_year" property="startYear"/>
        <result column="dict_code" property="dictCode"/>
        <result column="class_nickname" property="classNickname"/>
        <result column="class_number" property="classNumber"/>
        <result column="teacher" property="teacher"/>
        <result column="sort" property="sort"/>
        <result column="del" property="del"/>
        <result column="class_token" property="classToken"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <resultMap id="extClass" type="com.welsee.extentity.ExtClass" extends="BaseResultMap">
        <result column="class_name" property="className"/>
        <result column="grade" property="grade"/>
        <result column="section" property="section"/>
        <result column="device_name" property="deviceName"/>
    </resultMap>

    <insert id="insertClassBatch" parameterType="java.util.List">
        INSERT INTO
        class (id,org_id,start_year,dict_code,class_number,createdatetime,modifydatetime)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},#{item.orgId},#{item.startYear},
            #{item.dictCode},#{item.classNumber},
            #{item.createdatetime},#{item.modifydatetime}
            )
        </foreach>
    </insert>
    <update id="deleteByIds">
        UPDATE class SET modifydatetime = #{updateTime},del = 1 WHERE id IN (${updateIds})
    </update>

    <select id="selectByClassNumber" resultMap="BaseResultMap">
        SELECT * FROM class WHERE del = 0 AND class_number = #{arg0} and org_id = #{arg1}
    </select>

    <insert id="insertClass" parameterType="com.welsee.entity.Class">
        INSERT INTO
        class (id,org_id,start_year,dict_code,class_number,class_token,createdatetime,modifydatetime)
        VALUE (#{id},#{orgId},#{startYear},#{dictCode},#{classNumber},#{classToken},#{createdatetime},#{modifydatetime})
    </insert>


    <select id="getSumGradeByDictCode" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM section_grade WHERE section_dict = #{arg0}
    </select>


    <select id="selectCountByOrgIdAndSchoolYear" resultType="java.lang.Integer">
        SELECT count(*) FROM (SELECT c.id,c.org_id,c.start_year,c.dict_code,c.class_nickname,c.class_number,
        c.del,c.createdatetime,c.modifydatetime,CONCAT(SUBSTRING(c.class_number,6,2) ,'班') as class_name,d.name AS grade
        FROM class c
        LEFT JOIN section_grade sg on c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        LEFT JOIN dict d on sg.grade_dict = d.`code`
        WHERE c.org_id = #{orgId}
        AND c.del = 0
        AND ((c.dict_code = 'XD_XIAOXUE' and #{schoolYear}-c.start_year &lt; 6)
        OR (c.dict_code = 'XD_CHUZHONG' and #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_YOUERYUAN' and #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_GAOZHONG' and #{schoolYear}-c.start_year &lt; 3))) as cc
    </select>

    <select id="getClassListByOrgIdAndPageAndSchoolYear" resultMap="extClass" parameterType="map">
        SELECT cc.* ,dd.name as section from (SELECT IFNULL(di.device_name,'') device_name , c.class_token,
        c.id,c.org_id,c.start_year,c.dict_code,c.class_nickname,c.class_number,
        c.del,p.realname teacher,c.createdatetime,c.modifydatetime,CONCAT(SUBSTRING(c.class_number,6,2) ,'班') as
        class_name,
        IFNULL(
          d. NAME,
          CONCAT(c.start_year, '学年')
        ) AS grade
        FROM class c
        LEFT JOIN section_grade sg on c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        LEFT JOIN dict d on sg.grade_dict = d.`code`
        LEFT JOIN person p ON c.teacher = p.id
        left join  device_class dc on c.id = dc.class_id and dc.del = 0
        left join device_info di on dc.device_id = di.device_id and di.del_state = 0
        WHERE c.org_id = #{orgId}
        <if test="classNumber!=null and classNumber.length()>0">
            <choose>
                <when test="classNumber.split(',').length==1">
                    and c.class_number = #{classNumber}
                </when>
                <otherwise>
                    and c.class_number in
                    <foreach item="item" index="index" collection="classNumber.split(',')" open="(" separator=","
                             close=")">
                        '${item}'
                    </foreach>
                </otherwise>
            </choose>
        </if>
        AND c.del = 0
        AND ((c.dict_code = 'XD_XIAOXUE' and #{schoolYear}-c.start_year &lt; 6)
        OR (c.dict_code = 'XD_CHUZHONG' and #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_YOUERYUAN' and #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_GAOZHONG' and #{schoolYear}-c.start_year &lt; 3))) as cc
        LEFT JOIN dict dd ON cc.dict_code = dd.`code` ORDER BY sort,section,start_year desc,class_number asc
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>


    <select id="selectCountByOrgIdAndClassNumberLike" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        class c
        LEFT JOIN section_grade sg ON c.dict_code = sg.section_dict
        AND #{schoolYear} - c.start_year = sg.sort
        LEFT JOIN dict d ON sg.grade_dict = d.`code`
        WHERE
        c.org_id = #{orgId}
        AND c.class_number LIKE "%"#{classNumberLike}"%"
        AND c.del = 0
        AND(
        (
        c.dict_code = 'XD_XIAOXUE'
        AND #{schoolYear} - c.start_year &lt; 6
        )
        OR(
        c.dict_code = 'XD_CHUZHONG'
        AND #{schoolYear} - c.start_year &lt; 3
        )
        OR(
        c.dict_code = 'XD_YOUERYUAN'
        AND #{schoolYear} - c.start_year &lt; 3
        )
        OR(
        c.dict_code = 'XD_GAOZHONG'
        AND #{schoolYear} - c.start_year &lt; 3
        )
        )
    </select>

    <select id="getClassLisLikeBySectionAndGrade" resultMap="extClass">
        SELECT cc.* ,dd.NAME AS section FROM (SELECT
        c.id,c.org_id,c.start_year,c.dict_code,c.class_nickname,c.class_number,
        c.del,c.createdatetime,c.modifydatetime,CONCAT(SUBSTRING(c.class_number,6,2) ,'班') AS class_name,d.NAME AS grade
        FROM class c
        LEFT JOIN section_grade sg ON c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        LEFT JOIN dict d ON sg.grade_dict = d.`code`
        WHERE c.org_id = #{orgId}
        AND c.class_number LIKE "%"#{classNumberLike}"%"
        AND c.del = 0
        AND ((c.dict_code = 'XD_XIAOXUE' AND #{schoolYear}-c.start_year &lt; 6)
        OR (c.dict_code = 'XD_CHUZHONG' AND #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_YOUERYUAN' AND #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_GAOZHONG' AND #{schoolYear}-c.start_year &lt; 3))) AS cc
        LEFT JOIN dict dd ON cc.dict_code = dd.`code` ORDER BY sort,section,start_year desc,class_number asc
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getClassInfoByClassNumberAndOrgId" resultType="com.welsee.dto.ClassInfoResult">
        SELECT res.* ,IFNULL(dd.`name`,CONCAT(res.start_year,'学年')) grade_name FROM (SELECT c.id class_id, c.org_id,
        o.`name` org_name,
        c.start_year,c.dict_code section_code,d.`name` section_name,c.class_number,
        CONCAT(SUBSTRING(c.class_number,6,2) ,'班') AS class_name,sg.grade_dict grade_code,o.code as orgCode
        FROM class c
        LEFT JOIN org o ON o.id = c.org_id
        LEFT JOIN dict d ON d.CODE = c.dict_code
        LEFT JOIN section_grade AS sg ON c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        WHERE c.del = 0 AND org_id = #{orgId}
        <if test="classNumber != null and classNumber.length()>0">
            <choose>
                <when test="classNumber.split(',').length==1">
                    and c.class_number = ${classNumber}
                </when>
                <otherwise>
                    and c.class_number in
                    <foreach item="item" index="index" collection="classNumber.split(',')" open="(" separator=","
                             close=")">
                        ${item}
                    </foreach>
                </otherwise>
            </choose>
        </if>
        ) AS res
        LEFT JOIN dict dd ON dd.`code` = res.grade_code
        order by orgCode, start_year desc,class_number asc
    </select>
    <select id="getClassInfoByIds" resultType="com.welsee.dto.ClassInfoResult">
        SELECT res.* ,dd.`name` grade_name FROM (SELECT c.id class_id, c.org_id,o.`name` org_name,
        c.start_year,c.dict_code section_code,d.`name` section_name,c.class_number,
        CONCAT(SUBSTRING(c.class_number,6,2) ,'班') AS class_name,sg.grade_dict grade_code
        FROM class c
        LEFT JOIN org o ON o.id = c.org_id
        LEFT JOIN dict d ON d.CODE = c.dict_code
        LEFT JOIN section_grade AS sg ON c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        WHERE c.id IN (${classIds})
        AND c.del = 0) AS res
        LEFT JOIN dict dd ON dd.`code` = res.grade_code
    </select>
    <select id="getClassInfoBySectionAndOrg" resultType="com.welsee.dto.ClassInfoResult">
        SELECT res.* ,dd.`name` grade_name FROM (SELECT c.id class_id, c.org_id,o.`name` org_name,
        c.start_year,c.dict_code section_code,d.`name` section_name,c.class_number,
        CONCAT(SUBSTRING(c.class_number,6,2) ,'班') AS class_name,sg.grade_dict grade_code
        FROM class c
        LEFT JOIN org o ON o.id = c.org_id
        LEFT JOIN dict d ON d.CODE = c.dict_code
        LEFT JOIN section_grade AS sg ON c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        WHERE c.dict_code = #{sectionCode}
        AND c.del = 0 AND c.org_id = #{orgId} ORDER BY c.start_year DESC ) AS res
        LEFT JOIN dict dd ON dd.`code` = res.grade_code
    </select>
    <select id="getPublicClassList" resultMap="BaseResultMap">
        SELECT c.* FROM class c
        LEFT JOIN org o ON c.org_id = o.id AND o.del = 0
        WHERE 1=1
        <if test="orgCode != 'all'.toString()">
            AND o.CODE = #{orgCode}
        </if>
        <if test="modifydatetime != null">
            AND c.modifydatetime > #{modifydatetime}
        </if>
        ORDER BY c.start_year DESC
    </select>
    <select id="getClassByToken" resultType="com.welsee.dto.ClassInfoResult">
        SELECT cc.* ,dd.name as sectionName from (SELECT c.class_token as classToken, o.code as orgCode, o.name as orgName,
        c.id as classId,c.org_id as orgId,c.start_year as startYear,c.dict_code as sectionCode,
        c.class_nickname as nickName,c.class_number as classNumber,
        c.del,IFNULL(p.realname,'') as teacherName,c.createdatetime,c.modifydatetime,CONCAT(SUBSTRING(c.class_number,6,2) ,'班') as
        className,d.code as gradeCode,d.name AS gradeName
        FROM class c
        LEFT JOIN section_grade sg on c.dict_code = sg.section_dict AND #{schoolYear}-c.start_year = sg.sort
        LEFT JOIN dict d on sg.grade_dict = d.`code`
        LEFT JOIN person p ON c.teacher = p.id
        LEFT JOIN org o on c.org_id = o.id
        WHERE c.class_token = #{classToken}
        AND c.del = 0
        AND ((c.dict_code = 'XD_XIAOXUE' and #{schoolYear}-c.start_year &lt; 6)
        OR (c.dict_code = 'XD_CHUZHONG' and #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_YOUERYUAN' and #{schoolYear}-c.start_year &lt; 3)
        OR (c.dict_code = 'XD_GAOZHONG' and #{schoolYear}-c.start_year &lt; 3))) as cc
        LEFT JOIN dict dd ON cc.sectionCode = dd.`code`
        limit 1
    </select>
    <select id="getClassInfoNoPage" resultType="com.welsee.entity.Class">
    SELECT * FROM class WHERE org_id = #{orgId} AND del = 0
    </select>
    <select id="getGradeSectionClassNumber" resultType="com.welsee.dto.EvaluationGradleResult">
        SELECT
        cc.* ,
        dd. NAME AS section
        FROM
        (
        SELECT
        c.org_id ,
        c.start_year ,
        c.dict_code ,
        SUBSTRING(c.class_number , 1 , 5) class_number_prefix ,
        IFNULL(
        d. NAME ,
        CONCAT(c.start_year , '学年')
        ) AS grade
        FROM
        class c
        LEFT JOIN section_grade sg ON c.dict_code = sg.section_dict
        AND 2018 - c.start_year = sg.sort
        LEFT JOIN dict d ON sg.grade_dict = d.`code`
        LEFT JOIN person p ON c.teacher = p.id
        LEFT JOIN device_class dc ON c.id = dc.class_id
        AND dc.del = 0
        LEFT JOIN device_info di ON dc.device_id = di.device_id
        AND di.del_state = 0
        WHERE
        c.org_id = #{orgId}
        AND c.del = 0 AND(
        (
        c.dict_code = 'XD_XIAOXUE' AND #{schoolYear} - c.start_year &lt; 6
        ) OR(
        c.dict_code = 'XD_CHUZHONG' AND #{schoolYear} - c.start_year &lt; 3
        ) OR(
        c.dict_code = 'XD_YOUERYUAN' AND #{schoolYear} - c.start_year &lt; 3
        ) OR(
        c.dict_code = 'XD_GAOZHONG' AND #{schoolYear} - c.start_year &lt; 3
        )
        ) GROUP BY grade_dict
        ) AS cc LEFT JOIN dict dd ON cc.dict_code = dd.`code` ORDER BY sort ,
        section ,
        start_year DESC
    </select>
</mapper>
