<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.ClientAuthorizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.ClientAuthorization">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="org_id" property="orgId"/>
        <result column="del" property="del"/>
        <result column="org_type" property="orgType"/>
        <result column="url" property="url"/>
        <result column="authorized_deadline" property="authorizedDeadline"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <resultMap id="ClientAuthorizationInfoResult" type="com.welsee.dto.ClientAuthorizationInfoResult">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="client_name" property="clientName"/>
        <result column="home_page" property="homePage"/>
        <result column="logo" property="logo"/>
        <result column="content" property="content"/>
        <result column="del" property="del"/>
        <result column="lay_checked" property="LAY_CHECKED"/>
        <result column="authorized_deadline" property="authorizedDeadline"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <insert id="addClientAuthorization" parameterType="list">
        INSERT INTO client_authorization(
        id ,
        client_id ,
        org_id ,
        org_type ,
        authorized_deadline ,
        createdatetime ,
        modifydatetime
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},#{item.clientId},#{item.orgId},
            #{item.orgType},#{item.authorizedDeadline},
            #{item.createdatetime},#{item.modifydatetime}
            )
        </foreach>
    </insert>
    <update id="delClientAuthorizationByOrgId">
        UPDATE client_authorization SET del = 1, modifydatetime =  #{modifydatetime} WHERE org_id IN (${orgIds})
    </update>
    <select id="selectCountByOrgType" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM (SELECT GROUP_CONCAT(c.client_name SEPARATOR '|') AS client_names
         FROM client_authorization ca
         LEFT JOIN client c
         ON ca.client_id = c.client_id
         LEFT JOIN org o
         ON ca.org_id = o.id
         WHERE o.del = 0 AND  ca.del = 0 and c.type = 0 AND ca.org_type = #{arg0} GROUP BY o.`name` ORDER BY o.id) as count
     </select>
    <select id="getClientAuthorizationByOrgType" resultType="com.welsee.dto.ClientAuthorizationResult">
        SELECT o.id org_id, o.`name` org_name,GROUP_CONCAT(c.client_name ORDER BY c.client_name SEPARATOR '|') AS client_names
        FROM client_authorization ca
        LEFT JOIN client c ON ca.client_id = c.client_id
        LEFT JOIN org o ON ca.org_id = o.id
        WHERE o.del=0 AND ca.del = 0 and c.type = 0 AND ca.org_type = #{orgType} GROUP BY o.`name`
        ORDER BY ca.sort,o.id LIMIT #{start},#{pageSize}
    </select>
    <select id="getClientAuthorizationByOrgId" resultType="com.welsee.dto.ClientAuthorizationInfoResult">
        SELECT * FROM client_authorization WHERE org_id = #{arg0} AND del = 0
    </select>

    <select id="getClientList" resultMap="ClientAuthorizationInfoResult">
        SELECT  c.* ,'false' AS lay_checked,'0' as authorized_deadline FROM
        client c WHERE del = 0 and type = 0 ORDER BY  createdatetime DESC
    </select>
    <select id="getClientListByOrgId" resultMap="ClientAuthorizationInfoResult">
        SELECT  c.id ,c.client_id,c.client_secret,c.client_name,
	    case when ca.url is not null and ca.url != '' then ca.url else c.home_page end as home_page,
	    c.sort,c.content,c.logo,c.type,c.del,c.createdatetime,c.modifydatetime,
        CASE WHEN ca.authorized_deadline IS NULL THEN 0 ELSE ca.authorized_deadline END AS authorized_deadline,
        CASE WHEN ca.authorized_deadline IS NULL THEN 'false' ELSE 'true' END AS lay_checked
        FROM client c
        LEFT JOIN client_authorization ca ON c.client_id = ca.client_id AND ca.org_id = #{arg0}  AND ca.del = 0
        WHERE c.del = 0 and c.type = 0
        ORDER BY  c.createdatetime DESC
    </select>
    <select id="selectListByClientId" resultMap="BaseResultMap">
        SELECT * FROM client_authorization WHERE client_id = #{arg0} AND del = 0
    </select>

    <update id="updateUrl" parameterType="map">
        UPDATE client_authorization
        SET url = #{url}, modifydatetime =  NOW()
        WHERE org_id = #{orgId}
          and client_id = #{clientId} and del = 0
    </update>
</mapper>
