<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.ClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.Client">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="client_name" property="clientName"/>
        <result column="home_page" property="homePage"/>
        <result column="logo" property="logo"/>
        <result column="del" property="del"/>
        <result column="sort" property="sort"/>
        <result column="content" property="content"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <select id="getClientByClientId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from client where client_id = #{arg0} and del = '0'
    </select>

    <select id="getClientByClientIdAndSecret" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from client where client_id = #{arg0} and client_secret = #{arg1} and del = '0'
    </select>


    <select id="getClientListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT  * FROM  client WHERE del = 0 and type = 0 ORDER BY sort, createdatetime desc limit #{start} , #{pageSize}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM client WHERE del = 0 and type = 0
    </select>

    <select id="selectClientById" resultMap="BaseResultMap">
        SELECT  * FROM  client WHERE  del = 0  AND  id = #{id}
    </select>

    <select id="selectClientByName" resultMap="BaseResultMap">
        SELECT  * FROM  client WHERE  del = 0  AND  client_name = #{name}
    </select>


</mapper>
