<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.DeviceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.DeviceInfo">
        <id column="device_id" property="deviceId"/>
        <result column="device_mac" property="deviceMac"/>
        <result column="device_name" property="deviceName"/>
        <result column="sign_flag" property="signFlag"/>
        <result column="device_type" property="deviceType"/>
        <result column="device_intranet_ip" property="deviceIntranetIp"/>
        <result column="device_extranet_ip" property="deviceExtranetIp"/>
        <result column="device_orgId" property="deviceOrgid"/>
        <result column="device_enabled_state" property="deviceEnabledState"/>
        <result column="device_screen_shot" property="deviceScreenShot"/>
        <result column="device_screen_type" property="deviceScreenType"/>
        <result column="device_volume" property="deviceVolume"/>
        <result column="create_time" property="createTime"/>
        <result column="del_state" property="delState"/>
        <result column="update_time" property="updateTime"/>
        <result column="touch_state" property="touchState"/>
    </resultMap>

    <resultMap type="com.welsee.extentity.ExtDeviceInfo" id="extDeviceInfo" extends="BaseResultMap">
        <result column="is_distribute" property="isDistribute"/>
    </resultMap>
    <delete id="delDeviceSchoolMap">
        DELETE FROM device_school WHERE device_id = #{deviceId}
    </delete>
    <delete id="delDeviceClassMap">
        UPDATE device_class SET del = 1,modifydatetime = #{modifydatetime} WHERE device_id = #{deviceId}
    </delete>

    <select id="getDeviceList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from device_info where del_state = '0'
        <if test="deviceId != null">
            and device_id = #{deviceId}
        </if>

        <if test="deviceMac != null">
            and device_mac = #{deviceMac}
        </if>

        <if test="deviceName != null">
            and device_name = #{deviceName}
        </if>

        <if test="deviceOrgid != null">
            and device_orgId = #{deviceOrgid}
        </if>

        <if test="deviceType != null">
            and device_type = #{deviceType}
        </if>

    </select>
    <select id="getWisdomPlateList" resultMap="extDeviceInfo">
        SELECT di.*, IF(ISNULL(dc.id),0,1) is_distribute
        FROM device_info di
        LEFT JOIN device_class dc ON di.device_id = dc.device_id AND dc.del = 0
        WHERE di.del_state = '0' AND di.device_type = 1 AND di.device_orgId=#{orgId}
    </select>
    <select id="getUserDeviceList" resultMap="BaseResultMap">
        SELECT di.*
        FROM device_school ds
        LEFT JOIN device_info di ON ds.device_id = di.device_id AND di.del_state = 0
        WHERE ds.user_id = #{userId} AND ds.org_id = #{orgId}
    </select>
    <select id="getDeviceInfoByDeviceId" resultMap="BaseResultMap">
        SELECT * FROM device_info WHERE device_id = #{deviceId}
    </select>

    <select id="getDeviceTimeAmTimeOff" resultType="java.lang.String">
        select time_off from device_timing where device_id = #{deviceId} and time_on &lt; #{timeOn}
    </select>
    <select id="getDeviceTimePmTimeOn" resultType="java.lang.String">
        select time_on from device_timing where device_id = #{deviceId} and time_on &gt; #{timeOn}
    </select>
    <select id="getDeviceTimePmTimeOff" resultType="java.lang.String">
        SELECT
            time_on
        FROM
            device_timing
        WHERE
            device_id = #{deviceId}
        AND time_off &gt; #{timeOn}
    </select>
    <select id="getDeviceTimeAmTimeOn" resultType="java.lang.String">
        SELECT
          time_on
        FROM
          device_timing
        WHERE
          device_id = #{deviceId}
        AND time_off &lt; #{timeOn}
    </select>
    <select id="getDeviceTimePlainList" resultType="com.welsee.dto.DeviceTime">
        SELECT time_on,time_off FROM device_timing WHERE device_id = #{deviceId}
    </select>
    <select id="getDeviceTimeType" resultType="com.welsee.extentity.ExtDeviceTime">
        SELECT time_rules FROM device_timing WHERE device_id = #{deviceId} LIMIT 1;
    </select>

</mapper>
