<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.PatriarchChildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.PatriarchChild">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="child_id" property="childId" />
        <result column="family_relation" property="familyRelation" />
        <result column="del" property="del" />
        <result column="createdatetime" property="createdatetime" />
        <result column="modifydatetime" property="modifydatetime" />
    </resultMap>
    <delete id="unbindingChild">
        update patriarch_child set del = '1' ,modifydatetime = #{modifydatetime}
        where
        user_id = #{userId}
        and del = 0
        <if test="childIds!=null and childIds.length()>0">
            <choose>
                <when test="childIds.split(',').length==1">
                    and child_id = #{childIds}
                </when>
                <otherwise>
                    and child_id in
                    <foreach item="item" index="index" collection="childIds.split(',')"  open="(" separator="," close=")">
                        '#{item}'
                    </foreach>
                </otherwise>
            </choose>
        </if>
    </delete>

</mapper>
