<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.RiskNoticeListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.RiskNoticeList">
        <id column="id" property="id" />
        <result column="location_fk" property="locationFk" />
        <result column="location_name" property="locationName" />
        <result column="harmful_factors_fk" property="harmfulFactorsFk" />
        <result column="harmful_factors" property="harmfulFactors" />
        <result column="trouble_fk" property="troubleFk" />
        <result column="trouble_name" property="troubleName" />
        <result column="cause" property="cause" />
        <result column="consequence" property="consequence" />
        <result column="incidence" property="incidence" />
        <result column="level_fk" property="levelFk" />
        <result column="level_name" property="levelName" />
        <result column="level_num" property="levelNum" />
        <result column="measure" property="measure" />
        <result column="emergency_measure" property="emergencyMeasure" />
        <result column="person_fk" property="personFk" />
        <result column="person_name" property="personName" />
        <result column="expiry_date" property="expiryDate" />
        <result column="report_phone" property="reportPhone" />
        <result column="risk_notice_fk" property="riskNoticeFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
    </resultMap>

</mapper>
