<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.RiskDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.RiskDict">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="code_name" property="codeName" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <select id="getRiskDictListByCode" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from risk_dict where code = #{code}
    </select>
    <select id="getRiskDictCodeList" resultType="com.safety.entity.RiskDict">
        select distinct code,code_name from risk_dict
    </select>
</mapper>
