<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.RiskIdentificationListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.RiskIdentificationList">
        <id column="id" property="id" />
        <result column="post_fk" property="postFk" />
        <result column="post_name" property="postName" />
        <result column="harmful_factors_fk" property="harmfulFactorsFk" />
        <result column="harmful_factors" property="harmfulFactors" />
        <result column="trouble_fk" property="troubleFk" />
        <result column="trouble_name" property="troubleName" />
        <result column="cause" property="cause" />
        <result column="consequence" property="consequence" />
        <result column="incidence" property="incidence" />
        <result column="possibility" property="possibility" />
        <result column="seriousness" property="seriousness" />
        <result column="measure" property="measure" />
        <result column="num_l" property="numL" />
        <result column="num_e" property="numE" />
        <result column="num_c" property="numC" />
        <result column="num_d" property="numD" />
        <result column="level_fk" property="levelFk" />
        <result column="level_name" property="levelName" />
        <result column="level_num" property="levelNum" />
        <result column="risk_identification_fk" property="riskIdentificationFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
    </resultMap>

    <select id="selectByPid" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from risk_identification_list where risk_identification_fk = #{riskIdentificationFk} order by post_name;
    </select>

    <select id="selectLevelCountByOrg" resultType="map" parameterType="map">
        SELECT
            o.name,
            l.level_name,
            count( 1 ) AS count
        FROM
            risk_identification i
            INNER JOIN risk_identification_list l ON i.id = l.risk_identification_fk
            left join org o on o.id = i.org_fk
        WHERE
            YEAR ( i.create_time ) = YEAR ( NOW( ) )
            <if test="orgId !=null and orgId !=''">
                AND i.org_fk = #{orgId}
            </if>
        GROUP BY o.name,l.level_name
    </select>
</mapper>
