<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safety.mapper.RiskControlListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.safety.entity.RiskControlList">
        <id column="id" property="id" />
        <result column="post_fk" property="postFk" />
        <result column="post_name" property="postName" />
        <result column="harmful_factors" property="harmfulFactors" />
        <result column="level_fk" property="levelFk" />
        <result column="level_name" property="levelName" />
        <result column="level_num" property="levelNum" />
        <result column="measure" property="measure" />
        <result column="department_fk" property="departmentFk" />
        <result column="department_name" property="departmentName" />
        <result column="person_fk" property="personFk" />
        <result column="person_name" property="personName" />
        <result column="risk_control_fk" property="riskControlFk" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_person_fk" property="createPersonFk" />
        <result column="org_fk" property="orgFk" />
    </resultMap>
	<select id="selectByPid" resultMap="BaseResultMap" parameterType="java.util.Map">
        select * from risk_control_list where risk_control_fk = #{riskControlFk} order by post_name;
    </select>
</mapper>
