<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.ScheduleSectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.ScheduleSection">
        <id column="school_id" property="schoolId" />
        <result column="class_number" property="classNumber" />
        <result column="section" property="section" />
        <result column="section_course" property="sectionCourse" />
        <result column="createdatetime" property="createdatetime" />
        <result column="modifydatetime" property="modifydatetime" />
    </resultMap>

    <insert id="saveScheduleSectionBatch" parameterType="java.util.List">
        INSERT INTO schedule_section (
            school_id,
            class_number,
            section,
            section_course,
            createdatetime,
            modifydatetime
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.schoolId},
                ${item.classNumber},
                #{item.section},
                #{item.sectionCourse},
                #{item.createdatetime},
                #{item.modifydatetime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        school_id  = values(school_id),
        class_number = values(class_number),
        section = values(section),
        section_course = values(section_course),
        modifydatetime = values(modifydatetime)
    </insert>
    <update id="updateSchedule" parameterType="java.util.Map">
        UPDATE schedule_section
        SET section_course = #{sectionCourse},modifydatetime=#{modifydatetime}
        WHERE
            school_id = #{schoolId}
        AND class_number = #{classNumber}
        AND section = #{section}
    </update>
    <update id="removeSubject">
        UPDATE
         schedule_section
        <choose>
            <when test="subjectNames.split(',').length==1">
                SET section_course = REPLACE (section_course, #{subjectNames}, '')
            </when>
            <otherwise>
                <foreach item="item" index="index" collection="subjectNames.split(',')"  open="SET" separator=",">
                    section_course = REPLACE (section_course, #{item}, '')
                </foreach>
            </otherwise>
        </choose>
        ,modifydatetime = NOW()
        WHERE
            school_id = #{schoolId}
    </update>
    <delete id="removeSchedule" parameterType="java.util.Map">
        DELETE  from schedule_section
        where school_id=#{schoolId}
        <if test="classNumber != null and classNumber.length()>0">
            <choose>
                <when test="classNumber.split(',').length==1">
                    and class_number = #{classNumber}
                </when>
                <otherwise>
                    and class_number in
                    <foreach item="item" index="index" collection="classNumber.split(',')"  open="(" separator="," close=")">
                        '${item}'
                    </foreach>
                </otherwise>
            </choose>
        </if>
    </delete>
    <select id="getScheduleSection" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
            *
        FROM
            schedule_section
        WHERE
            school_id = #{schoolId}
        <if test="classNumber != null and classNumber.length()>0">
            <choose>
                <when test="classNumber.split(',').length==1">
                    and class_number = #{classNumber}
                </when>
                <otherwise>
                    and class_number in
                    <foreach item="item" index="index" collection="classNumber.split(',')"  open="(" separator="," close=")">
                        '${item}'
                    </foreach>
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>
