<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.School">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="school_img" property="schoolImg" />
        <result column="school_icon" property="schoolIcon" />
        <result column="school_CN" property="schoolCn" />
        <result column="school_Motto" property="schoolMotto" />
        <result column="font_colour" property="fontColour" />
        <result column="school_Font" property="schoolFont" />
        <result column="school_Profile" property="schoolProfile" />
        <result column="place_code" property="placeCode" />
        <result column="del" property="del" />
        <result column="createdatetime" property="createdatetime" />
        <result column="modifydatetime" property="modifydatetime" />
    </resultMap>

    <resultMap id="ExtResultMap" type="com.welsee.extentity.ExtSchool" extends="BaseResultMap">
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="domain_name" property="domainName"/>
        <result column="remarks_type" property="remarksType"/>
        <result column="remarks_name" property="remarksName"/>
        <result column="city_name" property="cityName"/>
    </resultMap>

    <select id="getSchool" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT  * FROM  school  WHERE del = '0'
        <if test="orgId != null">
            and org_Id = #{orgId}
        </if>

        <if test="schoolImg != null">
            and school_img = #{schoolImg}
        </if>

        <if test="schoolIcon != null">
            and school_icon = #{schoolIcon}
        </if>

        <if test="schoolCn != null">
            and school_CN = #{schoolCn}
        </if>
        <if test="schoolMotto != null">
            and school_Motto = #{schoolMotto}
        </if>
        <if test="schoolProfile != null">
            and school_Profile = #{schoolProfile}
        </if>
        ORDER BY  createdatetime desc
    </select>

    <select id="getSchoolInfo" resultMap="ExtResultMap" parameterType="java.util.Map">
        SELECT o.id as org_id,o.`code`,o.`name`,o.remarks_type,o.domain_name,d.`name` remarks_name,IFNULL(s.id,'') as id,IFNULL(s.school_img,'') as school_img,IFNULL(s.school_icon,'') as school_icon,
        IFNULL(s.school_CN,'') as school_CN,IFNULL(s.school_Motto,'') as school_Motto,IFNULL(s.school_Profile,'') as school_Profile
        ,IFNULL(s.font_colour,'') as font_colour,IFNULL(s.school_Font,''),IFNULL(s.place_code,'') as place_code,IFNULL(c.city_cn,'') as city_name
        FROM org o
        LEFT JOIN school s ON o.id = s.org_id and s.del='0'
        LEFT JOIN dict d ON o.remarks_type = d.`code`
        LEFT JOIN city c on s.place_code = c.city_id
        WHERE o.id = #{arg0} AND o.del = '0'
    </select>

    <update id="deleteById" parameterType="java.util.Map">
        update school set del = '1', modifydatetime = #{arg1} where org_id = #{arg0}
    </update>

    <resultMap id="PublicResultMap" type="java.util.Map">
        <result column="school_img" property="schoolImg" />
        <result column="school_icon" property="schoolIcon" />
        <result column="school_CN" property="schoolCn" />
        <result column="domain_name" property="domainName"/>
        <result column="school_Motto" property="schoolMotto" />
        <result column="font_colour" property="fontColour" />
        <result column="school_Font" property="schoolFont" />
        <result column="school_Profile" property="schoolProfile" />
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="remarks_type" property="remarksType"/>
        <result column="remarks_name" property="remarksName"/>
        <result column="domain_name" property="domainName"/>
        <result column="place_code" property="placeCode"/>
    </resultMap>
    <select id="getSchoolMap" resultMap="PublicResultMap" parameterType="java.util.Map">
        SELECT o.id as org_id,o.`code`,o.`name`,o.remarks_type,o.domain_name,o.domain_name,d.`name` remarks_name,IFNULL(s.school_img,'') as school_img,IFNULL(s.school_icon,'') as school_icon,
        IFNULL(s.school_CN,'') as school_CN,IFNULL(s.school_Motto,'') as school_Motto,IFNULL(s.school_Profile,'') as school_Profile
        ,IFNULL(s.font_colour,'') as font_colour,IFNULL(s.school_Font,'') as school_Font,IFNULL(s.place_code,'') as place_code FROM
        org o LEFT JOIN school s ON o.id = s.org_id AND s.del = '0'
        LEFT JOIN dict d ON o.remarks_type = d.`code`
        WHERE o.id = #{arg0}  AND o.del = '0'
    </select>
    <select id="getSchoolMapBydomainName" resultMap="PublicResultMap" parameterType="java.util.Map">
        SELECT o.id as org_id,o.`code`,o.`name`,o.remarks_type,o.domain_name,d.`name` remarks_name,IFNULL(s.school_img,'') as school_img,IFNULL(s.school_icon,'') as school_icon,
        IFNULL(s.school_CN,'') as school_CN,IFNULL(s.school_Motto,'') as school_Motto,IFNULL(s.school_Profile,'') as school_Profile
        ,IFNULL(s.font_colour,'') as fontColour,IFNULL(s.school_Font,'') as schoolFont FROM
        org o LEFT JOIN school s ON o.id = s.org_id AND s.del = '0'
        LEFT JOIN dict d ON o.remarks_type = d.`code`
        WHERE o.domain_name = #{arg0}  AND o.del = '0'
    </select>
</mapper>
