<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.SensitiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.Sensitives">
        <id column="id" property="id" />
        <result column="words" property="words" />
        <result column="sort" property="sort" />
        <result column="del" property="del" />
        <result column="createdatetime" property="createdatetime" />
        <result column="modifydatetime" property="modifydatetime" />
    </resultMap>
    <resultMap id="ExtSensitive" type="com.welsee.extentity.ExtSensitive">
        <result column="sensitiveList" property="sensitiveList"/>
    </resultMap>
    <update id="delSensitive">
        UPDATE `sensitives` SET del = 1, modifydatetime = #{time} WHERE id IN
        <foreach item="SensitiveId" index="index" collection="SensitiveIds.split(',')" open="(" separator="," close=")">
            '${SensitiveId}'
        </foreach>
    </update>
    <select id="getSensitiveCount" resultType="java.lang.Integer">
        SELECT count(*) FROM `sensitives` WHERE del = 0
    </select>
    <select id="getSensitiveByMap" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM `sensitives` WHERE del = 0
        LIMIT #{start},#{pageSize}
    </select>
    <select id="getSensitiveByWords" resultMap="BaseResultMap" parameterType="string">
         SELECT * FROM `sensitives` WHERE del = 0 and words = #{words}
    </select>
    <select id="getExtSensitive" resultMap="ExtSensitive">
        SELECT group_concat(words Separator ',') as sensitiveList
        FROM `sensitives` WHERE del = '0' ORDER BY sort
    </select>
    <select id="getSensitiveListForStr" resultMap="BaseResultMap" parameterType="map">
        SELECT * FROM `sensitives` WHERE del = 0
        <if test="str != null">
            and words like concat(concat('%',#{str}),'%')
        </if>
        ORDER BY sort
    </select>
</mapper>
