<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welsee.mapper.SubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.welsee.entity.Subject">
        <id column="id" property="id"/>
        <result column="section_code" property="sectionCode"/>
        <result column="subject_cn" property="subjectCn"/>
        <result column="subject_name" property="subjectName"/>
        <result column="school_id" property="schoolId"/>
        <result column="sort" property="sort"/>
        <result column="del" property="del"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <resultMap id="extSubject" type="com.welsee.extentity.ExtSubject" extends="BaseResultMap">
        <result column="section_name" property="sectionName"/>
    </resultMap>
    <delete id="deleteByIds">
        UPDATE subject SET del = 1,modifydatetime = #{updateTime} WHERE id IN (${updateIds})
    </delete>

    <select id="isSubjectExit" resultType="java.lang.Boolean">
        <if test="id != null">
            SELECT count(*) FROM `subject` WHERE
            <if test="org != 0">
                school_id = #{orgId} AND
            </if>
            subject_name = #{subjectName} AND del = 0 AND section_code = #{sectionCode}
            AND id != #{id}
        </if>
        <if test="id == null">
            SELECT count(*) FROM `subject` WHERE school_id = #{orgId}
            AND subject_name = #{subjectName} AND del = 0 AND section_code = #{sectionCode}
        </if>
    </select>

    <select id="selectSupCountByRole" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `subject` WHERE school_id = '0'
    </select>

    <select id="selectCountBySectionCode" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `subject` WHERE
        <if test="orgId != null">
            (school_id = #{orgId} or school_id = '0') AND
        </if>
        <if test="orgId == null">
            school_id = '0' AND
        </if>
        del = 0 AND section_code = #{sectionCode}
    </select>

    <select id="getSubjectByPage" resultMap="extSubject">
        SELECT d.name section_name ,s.* FROM (
        SELECT * FROM `subject` WHERE
        <if test="orgId != null">
            (school_id = #{orgId} or school_id = '0') AND
        </if>
        <if test="orgId == null">
            school_id = '0' AND
        </if>
        del = 0 AND section_code = #{sectionCode} ORDER BY school_id,sort asc limit #{start},#{pageSize}
        ) as s
        LEFT JOIN dict d ON d.`code` = s.section_code
    </select>
    <select id="getSubjectBySchoolId" resultMap="extSubject" parameterType="java.lang.String">
        SELECT
            t2.name as section_name,t1.*
        FROM
            SUBJECT t1
        LEFT JOIN dict t2 on t1.section_code = t2.code
        WHERE
            t1.school_id = #{schoolId}
        AND t1.del = 0
    </select>
    <select id="getSubjectListInfoNoPage" resultMap="BaseResultMap">
      SELECT * FROM `subject` WHERE school_id = #{orgId} AND section_code = #{sectionCode} AND del = 0 ORDER BY sort asc;
    </select>
    <select id="getSubjectAndTeacherByOrgIdAndClassNumber" resultType="com.welsee.extentity.ExSubjectTeacher">
        SELECT
            ifnull(p.realname , '') teacher_name ,
            s.subject_name
        FROM
            `subject` s
        LEFT JOIN user_subject_class usc ON s.id = usc.subject_id
        AND usc.class_number = #{classNumber}
        LEFT JOIN person p ON usc.user_id = p.id
        AND p.del = 0
        WHERE
            s.school_id = #{orgId}
        AND s.del = 0
    </select>
    <select id="getSubjectNameByOrgIdAndClassNumber" resultType="com.welsee.extentity.ExSubjectTeacher">
        SELECT DISTINCT(s.subject_name) subject_name
         FROM user_subject_class usc
         LEFT JOIN person p
         ON usc.user_id = p.id
         LEFT JOIN `subject` s
         ON usc.subject_id = s.id
         WHERE usc.class_number = #{classNumber} AND usc.org_id = #{orgId};
    </select>
    <select id="getSubject" resultMap="BaseResultMap">
        select * from subject where
        <if test="ids != null and ids.length()>0">
        <choose>
            <when test="ids.split(',').length==1">
                id = #{ids}
            </when>
            <otherwise>
                id in
                <foreach item="item" index="index" collection="ids.split(',')"  open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </otherwise>
        </choose>
    </if>
    </select>


</mapper>
