.el-table--border, .el-table--group {
    border: 1px solid #aaa;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #aaa;
}
.el-table--border th, .el-table__fixed-right-patch{
    border-bottom: 1px solid #aaa;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: 1px solid #aaa;
}
.el-table{
    color: #666;
}
.el-table thead{
    color: #666;
}

@media screen and (min-width:1200px){
    #divprint{
        height: 650px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    #divprint{
        height: 550px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    #divprint{
        height: 450px;
    }
}
@media screen and (min-width:480px) and (max-width:768px){
    #divprint{
        height: 350px;
    }
}