.safety-btn-primary{
    border: 1px solid #4596EC;
    background-color: #fff;
    color: #4596EC;
}
.safety-btn-primary:hover {
    border-color: #4596EC;
    color: #4596EC;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#1E9FFF;
}
.layui-form-select dl dd.layui-this,.layui-nav-tree .layui-nav-bar,.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{background-color:#1E9FFF}
.layui-layout-admin .layui-logo{
    background-color:#047DD6;
}
.layui-layout-admin .layui-header{
    background-color: #4596EC;
}
.layui-side-scroll .layui-nav .layui-nav-item>a{
    background-color:#252533;
}
.layui-nav-tree .layui-nav-child a{
    background-color:#2E3341;
}
.layui-breadcrumb a:hover{
    color:#1E9FFF !important;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
     color:#1E9FFF;
 }
.layui-side-scroll .layui-this>a{background-color:#1E9FFF !important}
.layui-bg-dark-gray{background-color:#C1C2C3}
.layui-bg-fresh-green{background-color:#33CC33}
.table-badge-box-off{color:#C1C2C3}
/*按钮*/
.safety-btn-gray{
    border: 1px solid #b3b3b3;
    background-color: #fff;
    color: #999;
}
.safety-btn-gray:hover{
    border: 1px solid #4596EC;
    color: #4596EC;
}
.safety-btn-primary{
    border: 1px solid #4596EC;
    background-color: #fff;
    color: #4596EC;
}
.layui-btn-group .safety-btn-primary:first-child{
    border: 1px solid #4596EC;
}
.safety-btn-primary:hover {
    border-color: #4596EC;
    color: #4596EC;
}
.safety-btn-danger{
    color:#FF5722;
    border: 1px solid #FF5722;
    background-color: #fff;
}
.layui-btn-group .safety-btn-danger:first-child{
    border: 1px solid #FF5722;
}
.safety-btn-danger:hover{
    color:#FF5722;
    border: 1px solid #FF5722;
    background-color: #fff;
}
.layui-btn-group .layui-btn-primary:hover{
    color:#1E9FFF;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover{
    background-color: #1E9FFF !important;
}